<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Order Summary
</div>
<div>
  <p class="font-italic mb-3">
    Shipping cost will be added depending on the choices made during checkout
  </p>
  <ul class="list-unstyled mb-4" *ngIf="basketTotals$ | async as totals">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Shipping and handeling</strong>
      <strong>{{ totals.shipping | currency }}</strong>
    </li>

    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Order subtotal</strong>
      <strong>{{ totals.subtotal | currency }}</strong>
    </li>

    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Total</strong>
      <strong>{{ totals.total | currency }}</strong>
    </li>
  </ul>
</div>
